[GLOBAL]
pants_version = "2.30.0"
backend_packages = [
  "pants.backend.python",
]

[source]
root_patterns = ["/"]

[python]
interpreter_constraints = ["CPython==3.12.*"]
enable_resolves = true
default_resolve = "linux"

[python.resolves]
linux = "3rdparty/python/linux.lock"
macos = "3rdparty/python/macos.lock"

[python-repos]
indexes = [
  "https://pypi.org/simple/",
  "https://download.pytorch.org/whl/cpu",
]

[generate-lockfiles]
diff = false
