[GLOBAL]
pants_version = "2.30.0"
backend_packages = [
  "pants.backend.python",
]

[source]
root_patterns = ["/"]

[python]
interpreter_constraints = ["CPython==3.12.*"]
enable_resolves = true

[python.resolves]
python-default = "3rdparty/python/default.lock"

[python-repos]
indexes = [
  "https://pypi.org/simple/",
  "https://download.pytorch.org/whl/cpu",
]

[generate-lockfiles]
diff = false
